
.search-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  height: 40px!important;
  width: 20rem!important;
  border: 1px solid var(--Secondary-3, #E2E8F0);
  border-radius: 6px;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  padding: 0px 16px 0px 0px!important;
  border-radius: 5px!important;
  background: var(--Secondary-1, #F7FAFC);
}

.searchbar-input {
  border: none;
  outline: none;
  width: 100%!important;
  font-family: var(--font-inter);
  font-size: 16px;
  background: transparent;
}

.searchbar-right-element {
  height: 100%!important;
  border-radius: 0px 5px 5px 0px!important;
  width: 3rem!important;
}

.searchbar-icon-container {
  display: flex;
  align-self: stretch;
  height: 100%!important;
  width: 100%!important;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 0px 5px 5px 0px!important;
  background: #EDF2F7;
}
