input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width:auto;
}

h1 {
  font-size: 150%;
  text-align: left;
  vertical-align: top;
  line-height: 1;
  color: #474849;
}

Icon * {
  color: #767778!important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width:auto;
}

#body {
  width: 100%;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

#body > div {
  flex: 1;
}

#body > #navbarBody {
  flex: 0 0 auto;
}

#innerBody {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%!important;
}

#programsBody {
  width: 90%!important;
  margin: 3rem 2.5rem!important;
  display: flex;
  flex-direction: row;
}

#eventInfoBody {
  flex-direction: column;
  flex: 1;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 170%;
  margin-bottom: 5%;
  height: 42px;
}

button#save {
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 115px;
  height: 40px;
  font-size: 14px;
}

#select {
  display: none;
  appearance: none;  /* Hides the default dropdown arrow */
  background-color: transparent;
}

#select:focus {
    background-color: white;
    appearance: auto; /* Restores the dropdown behavior */
}

#dateTimeDiv {
  justify-content: space-between;
}

#dateTimeDiv > div {
  width: 23%;
}

#dateTimeDiv > div {
  display: flex;
  align-items: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#time1, #time2 {
  width: 80%;
  margin-right: auto;
  margin-left: 2%;
  flex: 1;
}

#date1, #date2 {
  width: 80%;
  margin-right: 0;
  margin-left: 2%;
}

#repeatContainer {
  justify-content: space-between;
}

#repeatDiv {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}

#cancelBody {
  display: flex!important;
  flex-direction: row!important;
  gap: 1rem;
  align-items: center;
  color: var(--Secondary-8, #2D3748);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.07px;
}

#instructorTags, #payeeTags, #emailTags {
  height: 2rem;
  width: 73%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0 3% 216px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#emailTags {
  margin: 0 0 3% 238px;
}

.instructorTag, .payeeTag, .emailTag {
  height: 2rem;
  border: 1px #E2E8F0 solid;
  border-radius: 20px;
  margin: .5% 3% 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1% 1%;
}

#instructorTags > div *, #payeeTags > div *, #emailTags > div * {
  background-color: transparent;
}

#Button {
  width: 40px;
  height: 40px;
}

.Icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

#instructors, #payees, #emails {
  display: flex;
  flex-direction: row;
  border: 1px #E2E8F0 solid;
  border-radius: 5px;
  width: 200px;
  background: #F6F6F6;
}

#emails {
  width: 222px;
}

#instructorSelection, #payeeSelection, #emailSelection {
  width: 100%;
}

#instructorSelection > Box, #payeeSelection > Box, #emailSelection > Box{
  position: relative!important;
  width: 100%!important;
}

#instructorInputContainer, #payeeInputContainer, #emailInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3%;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 5px 5px 5px 5px;

}

#instructorInput, #payeeInput, #emailInput {
  border: none!important;
  overflow: hidden;
}

.inputElement {
  border: 1px solid var(--Secondary-3, #E2E8F0)!important;
  border-radius: 4px!important;
}

#instructorInput:focus, #payeeInput:focus, #emailInput:focus {
  outline: none;
  box-shadow: none;
}

#instructorContainer #instructorDropdown,
#payeeContainer #payeeDropdown,
#emailContainer #emailDropdown {
  position: absolute;
  background-color: #D9D9D9!important;
  margin-top: 4px;
  border: 1px #E2E8F0 solid;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}


#dateTimeDiv, #instructorContainer, #payeeContainer, #emailContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  align-items: center;
  position: relative;
}

#location, #locationRate {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  width:100%!important;
}

#locationRate {
  margin-left: 3rem;
}

#information > Textarea{
  background-color: transparent;
  border: 1px #E2E8F0 solid;
}

#eventInfoBody #roomDescription > h3,
#eventInfoBody #information > h3,
#eventInfoBody #sessionInformation > h3 {
  margin-bottom: 16px;
  color: #474849;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08px;
}

#cancel {
  color: #90080F;
  text-decoration: none;
}

#cancelLink {
  text-decoration: none;
}


