.componentContainer {
  width: 100%;
  min-width: 100%;
  padding: 1rem 0;
  align-items: center;
}

.componentContainer * {
  color: var(--Secondary-8, #2D3748);
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}

#titleContainer {
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
  justify-content: space-between;
}

#archivedBlurb {
  display: flex;
  flex-direction: row;
  gap: 2%;
  background: #F4E6E7;
  align-items: center;
  width: 16.5rem;
  padding: .5rem .75rem;
  background-color: #F0F0FF;
  justify-content: center;
  font-weight: 700;
}

.sessionsColumnContainer {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sessionsColumnTitle {
  color: var(--Secondary-6, #718096);
  text-transform: none;
  color: #767778;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.componentTitleText {
  font-size: 24px;
  font-weight: 700;
}

#archivedBlurb > p {
  font-size: 16px;
  letter-spacing: 0.08px;
}

.invoiceButton {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  background: var(--Primary-5-Default, #4441C8);
  color: white;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.07px;
}

#deactivateDeadlineInnerBox {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: .5rem;
  padding: .8rem;
}

#popoverChoice, #deleteBody {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  background-color: transparent;
}

#popoverChoice:hover, #deleteBody:hover {
  background-color: #F0F1F4;
}

#popoverChoice > *, #deleteBody > * {
  align-items: start!important;
}

#popoverChoice p {
  color: #767778!important;
}

#deleteBody p {
  color: #90080F!important;
}

#deactivateDeadlineInnerBox {
  align-items: center;
}

#backProgramButton {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  background-color: #EDF2F7;
}





