/* FilterButton.module.css */
.modalContent {
  display: inline-flex;
  padding: 16px;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #E8E8E8;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(100, 128, 145, 0.1);
  width: auto;
}

.modalBody {
padding: 0;
}

.typeHeader {
  color: #767778;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.filterButtonGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.filterButton {
/* border: 1px solid #E4E4ED !important; */
border-radius: 20px !important;
padding: 8px 20px !important;
background: #F9F9FC !important;
color: #383E4A !important;
transition: all 0.2s !important;
font-family: "Inter", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 36px;
}

.filterButton:hover {
background: #edf1f8 !important;
}

.filterButton.active {
  color: #5951F3 !important;
  border-radius: 50px !important;
  border: 1px solid #3F37D1 !important;
  background: #edf1f7 !important;
}

.buttonRow {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  justify-content: flex-end;
}

.clearButton {
  background: transparent !important;
  color: #767778 !important;
  border: none !important;
  padding: 8px 20px !important;
  border-radius: 6px !important;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  height: 40px;
  transition: all 0.2s !important;
}

.clearButton:hover {
  background: #F9F9FC !important;
}

.applyButton {
  background: #6966d2 !important;
  color: white !important;
  border: none !important;
  /* padding: 8px 28px !important; */
  border-radius: 6px !important;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  height: 40px;
  transition: all 0.2s !important;
  letter-spacing: "0.5%";
}

.applyButton:hover {
  background: #3F37D1 !important;
}