.title {
    color: "var(--Secondary-8, #2D3748)";
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titleContainer {
    display: flex;
    flex-direction: row;
}